In [1]:
# Q1 Ans: Covert a iteger to a floatig-poit umber.
int_num = 57
float_num = float(int_num)
print(float_num)

57.0

In [4]:
# Q2 Ans: Covert a float to a iteger.
float_num = 75.89
int_num = int(float_num)
print(int_num)

75

In [6]:
# Q3 Ans: Covert a iteger to a string
int_num = 75
my_str = str(int_num)
print(my_str, type(my_str))

75 <class 'str'>

In [7]:
# Q4 Ans: Covert a list to a tuple.
list1 = [1,5, "Riya", "Strawberry"]
tup = tuple(list1)
print(tup)

(1, 5, 'Riya', 'Strawberry')

In [8]:
# Q5 Ans: Covert a tuple to a list.
tup1 = (75, 89, 53, "Satyam")
list1 = list(tup)
print(list1)

[1, 5, 'Riya', 'Strawberry']

In [10]:
# Q6 Ans: Covert a decimal number to binary.
dec_num = 83
bin_num = bin(dec_num)
print(bin_num)

0b1010011

In [11]:
# Q7 Ans: Covert a non-zero umber to boolean.
num = 87.98
bool_num = bool(num)
print(bool_num)

True